body {
  background: #000 url('../images/dirt.jpg') repeat-y center top;
  margin: 0; 
  padding: 0;
  color: #fff;
  font-family: Helvetica Neue, Helvetica, monospace;
}
#loading {
  height: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
}
#main {
  display: none;
}
.scene {
  margin: 0 auto;
  text-align: center;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
}
.scene1, 
.scene2 {
  height: 900px;
}

